<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miarodriguezfo.tuterapia">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.miarodriguezfo.tuterapia.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
       
    <uses-permission android:name="com.miarodriguezfo.tuterapia.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
                       
            <intent-filter>
                               
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                               
                <category android:name="com.example.gcm" />
                           
            </intent-filter>
             
        </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainPatientActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainDoctorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".AddPatientActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".AddExerciseActivity"
            android:theme="@style/AppTheme.CustomDialog"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PatientInformationActivity"
            android:theme="@style/AppTheme.CustomDialogNoBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SesionInformationActivity"
            android:theme="@style/AppTheme.CustomDialogNoBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DoctorSesionesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddSessionActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ExerciseSelection" />
        <activity android:name=".Complete_exercises"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>